body::-webkit-scrollbar {
width: 10px;
}

body::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: gray;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    width: 12px;
    background-color: rgb(92, 92, 92);
    border-radius: 10px;
}
